<%= link_to 'Create Account', new_user_path %>

<h1>Welcome to the Gifs Generator!</h1>

<h2>Gifs by Category</h2>


<% @categories.each do |category| %>
	<div id="<%= category.name %>">
		<h2> <%= category.name %> </h2>
		<% category.gifs.each do |gif| %>
			<br>
			<img src="<%= gif.image_url %>">

      <%= link_to 'View Gif', gif_path(gif) %>

      <% if current_user && current_user.admin? %>
        <%= link_to 'Delete', gif_path(gif), method: :delete %>
      <% end %>
		<% end %>
	</div>
<% end %>
