<h1>Create an Account!</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.check_box :role %>
  <%= f.label :role, 'Admin' %>

  <%= f.submit 'Create Account' %>
<% end %>
